# Dependencias
node_modules/

# Compilación
dist/
.astro/

# Logs e información de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.env
.env.production
.env.development
*.mkv
*.mp4
